.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  background-color: rgb(55, 11, 97);
  padding: 0 20px;
  display: flex;
  height: 80px;
  justify-content: space-evenly;
  font-size: 20px;
  align-items: center;
}
.header h2 {
  padding: 4px;
}
