.navBar {
  display: inline-block;
  font-size: inherit;
}
.ul {
  list-style-type: none;
}
.li {
  margin: 3px;
  padding: 5px;
  float: left;
}
.button {
  width: 130px;
  padding: 5px;
  background-color: rgb(56, 11, 49);
  border-radius: 30px;
  color: white;
  font-size: inherit;
}
