.loginPortal {
  font-size: 20px;
  width: 70%;
  max-width: 40rem;
  margin: 6rem auto;
  padding: 2rem;
}

.email label {
  font-weight: bold;
  display: inline-block;
  padding: 3px;
  margin: 3px;
}
.email input {
  border: solid rgb(160, 159, 159) 1px;
  margin-left: 6px;
  display: inline-block;
  width: 90%;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  /* box-sizing: border-box; */
}
.email input:focus {
  background-color: rgb(245, 214, 245);
  border: 3px soild rgb(39, 8, 39);
}

.password label {
  font-weight: bold;
  display: inline-block;
  padding: 3px;
  margin: 3px;
}
.password input {
  border-radius: 5px;
  border: solid rgb(160, 159, 159) 1px;
  margin-left: 6px;
  display: inline-block;
  width: 90%;
  padding: 10px;
  outline: none;
}
.password input:focus {
  background-color: rgb(245, 214, 245);
  border: 3px soild rgb(39, 8, 39);
}

@media (min-width: 768px) {
  .control {
    align-items: center;
    flex-direction: row;
  }
}

.loginButton {
  margin: 25px;
  text-align: center;
}
.Button {
  border-radius: 30px;
  padding: 10px;
  width: 100px;
  font-weight: bold;
  font-size: 16px;
  color: white;
  background-color: rgb(93, 16, 145);
}
.Button:active,
.Button:hover {
  background-color: rgb(93, 16, 145);
  cursor: pointer;
}

.Button:disabled,
.Button:hover:disabled,
.Button:focus:disabled,
.Button:active:disabled {
  background-color: rgb(175, 168, 169);
  cursor: not-allowed;
}
