.loginPortal {
  margin: 30px;
  padding: 20px;
  /* align-content: left; */
  /* background-color: rgb(43, 44, 43); */
  /* color:rgb(201, 197, 197); */
}

.email label {
  padding: 10px;
  display: inline;
  margin: 5px;
}
.email input {
  margin-left: 20px;
  width: 90%;
}
.password label {
  display: inline;
  padding: 10px;
  margin: 5px;
}
.password input {
  margin-left: 2px;
  width: 90%;
}
.loginButton {
  margin: 10px;
  text-align: center;
}
.Button {
  border-radius: 30px;
  padding: 10px;
  width: 100px;

  /* background-color: rgb(226, 87, 115); */
}
